
<!DOCTYPE html>
<header>
  <h1 class="w100 text-center"><a href="<%= new_search_path %>">YouTube  Search</a></h1>
</header>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @search, :url => new_search_path do |f|  %>

    <div class="form-group">
      <%= f.text_field :title, placeholder: "Type something...",   class: "form-control" %>
    </div>

    <div class="form-group ">
      <%=f.submit"Search", class: "form-control btn btn-primary w100" %>
    </div>
    <% end %>

    <% if @videos.present?%>
    <% @videos.each do |video| %>
    <ul class="list-group">
      <a href="https://www.youtube.com/watch?v=<%=video[:id]%>"> <li class="list-group-item "><%= video[:title] %></li></a>
    </ul>
    <% end %>
    <% end %>

  </div>
</div>
